<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Trends</title>

    <script src="{% static 'angular/angular.min.js' %}"></script>
    <script src="{% static 'angular-resource/angular-resource.js' %}"></script>
    <script src="{% static 'angular-route/angular-route.js' %}"></script>
    <script src="{% static 'angular-bootstrap/ui-bootstrap-tpls.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}"/>

    <script src="{% static 'js/app/contacts/contacts.js' %}"></script>
    <script src="{% static 'js/app/contacts/contacts-services.js' %}"></script>
    <script src="{% static 'js/app/contacts/contacts-controllers.js' %}"></script>

    <script src="{% static 'js/persons-ngapp.js' %}"></script>

</head>
<body data-ng-app="persons-ngapp">
    <header>
        {% block nav %}
            <nav class="navbar navbar-default">
              <div class="container-fluid">
                <div class="navbar-header">
                  <a class="navbar-brand" href="javascript:void(0)" ng-clic>
                    <span class="glyphicon glyphicon-off">Salir</span>
                  </a>
                </div>
              </div>
            </nav>
        {% endblock %}
    </header>
    {% block body %}


    {% endblock body %}

    <footer>
    {% block footer %}{% endblock footer %}
    </footer>

</body>
</html>